# Python
__pycache__/
*.py[cod]
.Python
env/
venv/
venv311_clean/
venv313/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Raw data - keep local only (DON'T push to GitHub)
data/raw/*.csv
data/processed/*.npy
data/processed/*.csv

# Models
models/*.pkl